# Cleaning Dirty Cafe Sales Dataset

In [1]:
#Import the operational laibries
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Import the cafe dataset

cafe = pd.read_csv('dirty_cafe_sales.csv')
cafe

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
...,...,...,...,...,...,...,...,...
9995,TXN_7672686,Coffee,2,2.0,4.0,NaN,UNKNOWN,2023-08-30
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02
9997,TXN_5255387,Coffee,4,2.0,8.0,Digital Wallet,NaN,2023-03-02
9998,TXN_7695629,Cookie,3,NaN,3.0,Digital Wallet,NaN,2023-12-02
9999,TXN_6170729,Sandwich,3,4.0,12.0,Cash,In-store,2023-11-07

### Getting to know the data

In [3]:
cafe.shape

(10000, 8)

In [4]:
cafe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [5]:
cafe.isna().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [6]:
cafe.head(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,NaN,2023-03-31
6,TXN_4433211,UNKNOWN,3,3.0,9.0,ERROR,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,UNKNOWN,2023-10-28
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,NaN,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,ERROR
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,NaN,Takeaway,2023-06-01
14,TXN_8915701,ERROR,2,1.5,3.0,NaN,In-store,2023-03-21
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,NaN,NaN,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,ERROR,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15

#### From observation, the data set has 10000 rows and 8 columns. Also, the supposed numeric columns are showing object as the data types. 

#### There are many missing values in all the columns except in the 'Transaction ID'.

#### There are some invalid items in the data set such as 'UNKNOWN', and 'ERROR' .

## Data Cleaning

### Start by replacing the 'UKNOWN', NaN, and 'ERROR' with '0'

In [8]:
# starting with the column "Item"
cafe['Item'] = cafe['Item'].str.replace('UNKNOWN','0')
cafe['Item'] = cafe['Item'].str.replace('ERROR','0')
cafe['Item'] = cafe['Item'].fillna('0')

In [9]:
# starting with the column "Quantity"
cafe['Quantity'] = cafe['Quantity'].str.replace('UNKNOWN','0')
cafe['Quantity'] = cafe['Quantity'].str.replace('ERROR','0')
cafe['Quantity'] = cafe['Quantity'].fillna('0')

In [10]:
# starting with the column "Price Per Unit"
cafe['Price Per Unit'] = cafe['Price Per Unit'].str.replace('UNKNOWN','0')
cafe['Price Per Unit'] = cafe['Price Per Unit'].str.replace('ERROR','0')
cafe['Price Per Unit'] = cafe['Price Per Unit'].fillna('0')

In [11]:
# starting with the column "Total Spent"
cafe['Total Spent'] = cafe['Total Spent'].str.replace('UNKNOWN','0')
cafe['Total Spent'] = cafe['Total Spent'].str.replace('ERROR','0')
cafe['Total Spent'] = cafe['Total Spent'].fillna('0')

In [12]:
# starting with the column "Payment Method"
cafe['Payment Method'] = cafe['Payment Method'].str.replace('UNKNOWN','0')
cafe['Payment Method'] = cafe['Payment Method'].str.replace('ERROR','0')
cafe['Payment Method'] = cafe['Payment Method'].fillna('0')

In [13]:
# starting with the column "Location"
cafe['Location'] = cafe['Location'].str.replace('UNKNOWN','0')
cafe['Location'] = cafe['Location'].str.replace('ERROR','0')
cafe['Location'] = cafe['Location'].fillna('0')

In [14]:
# starting with the column "Transaction Date"
cafe['Transaction Date'] = cafe['Transaction Date'].str.replace('UNKNOWN','0')
cafe['Transaction Date'] = cafe['Transaction Date'].str.replace('ERROR','0')
cafe['Transaction Date'] = cafe['Transaction Date'].fillna('0')

In [15]:
cafe.head(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,0,0,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,0,2023-03-31
6,TXN_4433211,0,3,3.0,9.0,0,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,0,2023-10-28
8,TXN_4717867,0,5,3.0,15.0,0,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,0,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,0
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,0,Takeaway,2023-06-01
14,TXN_8915701,0,2,1.5,3.0,0,In-store,2023-03-21
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,0,0,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,0,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15

## Populating the columns and changing the data types to the correct format

### Working on the categorical columns

In [18]:
# find the count of the items in the "Item" column

cafe.Item.value_counts()

#finding the mode of the column
cafe.Item.mode()


# with 'Juice' being the most populated item in the column, the zero's will be replaced with 'Juice'
cafe['Item'] = cafe['Item'].str.replace('0','Juice')

In [31]:
# find the count of the items in the "Payment Method" column

cafe['Payment Method'].value_counts()

#finding the mode of the column
df = cafe[cafe['Payment Method'] > '0']
df['Payment Method'].value_counts()

# with 'Digital Wallet' being the most populated item in the column, the zero's will be replaced with 'Digital Wallet'
cafe['Payment Method'] = cafe['Payment Method'].str.replace('0','Digital Wallet')

In [35]:
# find the count of the items in the "Location" column

cafe.Location.value_counts()

#finding the mode of the column
df1 = cafe[cafe['Location'] > '0']
df1['Location'].value_counts()


# with 'Takeaway' being the most populated item in the column, the zero's will be replaced with 'Takeaway'
cafe['Location'] = cafe['Location'].str.replace('0','Takeaway')

In [36]:
cafe.head(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,Digital Wallet,Takeaway,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,Takeaway,2023-03-31
6,TXN_4433211,Juice,3,3.0,9.0,Digital Wallet,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,Takeaway,2023-10-28
8,TXN_4717867,Juice,5,3.0,15.0,Digital Wallet,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,Digital Wallet,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_3051279,Sandwich,2,4.0,8.0,Credit Card,Takeaway,0
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,Digital Wallet,Takeaway,2023-06-01
14,TXN_8915701,Juice,2,1.5,3.0,Digital Wallet,In-store,2023-03-21
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,Digital Wallet,Takeaway,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,Takeaway,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15

In [39]:
# Removing the zero's in the Transaction Date column
cafe = cafe[cafe['Transaction Date'] != '0']
cafe.head(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,Digital Wallet,Takeaway,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,Takeaway,2023-03-31
6,TXN_4433211,Juice,3,3.0,9.0,Digital Wallet,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,Takeaway,2023-10-28
8,TXN_4717867,Juice,5,3.0,15.0,Digital Wallet,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,Digital Wallet,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,Digital Wallet,Takeaway,2023-06-01
14,TXN_8915701,Juice,2,1.5,3.0,Digital Wallet,In-store,2023-03-21
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,Digital Wallet,Takeaway,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,Takeaway,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15
20,TXN_3522028,Smoothie,0,4.0,20.0,Cash,In-store,2023-04-04

### Converting the data types

In [40]:
cafe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9540 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9540 non-null   object
 1   Item              9540 non-null   object
 2   Quantity          9540 non-null   object
 3   Price Per Unit    9540 non-null   object
 4   Total Spent       9540 non-null   object
 5   Payment Method    9540 non-null   object
 6   Location          9540 non-null   object
 7   Transaction Date  9540 non-null   object
dtypes: object(8)
memory usage: 670.8+ KB

## The following columns are to be changed: 'Quantity', 'Price Per Unit', and 'Total Spent'.

In [47]:
# convert the Quantity column to integer
cafe['Quantity'] = cafe['Quantity'].astype('int64')

# convert the Price Per Unit to float
cafe['Price Per Unit'] = cafe['Price Per Unit'].astype('float64')

# convert the Total Spent to float
cafe['Total Spent'] = cafe['Total Spent'].astype('float64')

C:\Users\USER\AppData\Local\Temp\ipykernel_10232\862286827.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cafe['Quantity'] = cafe['Quantity'].astype('int64')
C:\Users\USER\AppData\Local\Temp\ipykernel_10232\862286827.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cafe['Price Per Unit'] = cafe['Price Per Unit'].astype('float64')
C:\Users\USER\AppData\Local\Temp\ipykernel_10232\862286827.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cafe['Total Spent'] = cafe['Total Spent'].astype('float64')

### Convert the Transaction date data type to datetime

In [49]:
#convert the Transaction date to datetime
cafe['Transaction Date'] = pd.to_datetime(cafe['Transaction Date'], format = '%Y-%m-%d')
cafe.head(20)

C:\Users\USER\AppData\Local\Temp\ipykernel_10232\2563715573.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cafe['Transaction Date'] = pd.to_datetime(cafe['Transaction Date'], format = '%Y-%m-%d')

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,0.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,Digital Wallet,Takeaway,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,Takeaway,2023-03-31
6,TXN_4433211,Juice,3,3.0,9.0,Digital Wallet,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,Takeaway,2023-10-28
8,TXN_4717867,Juice,5,3.0,15.0,Digital Wallet,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,Digital Wallet,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
12,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
13,TXN_9437049,Cookie,5,1.0,5.0,Digital Wallet,Takeaway,2023-06-01
14,TXN_8915701,Juice,2,1.5,3.0,Digital Wallet,In-store,2023-03-21
15,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
16,TXN_3765707,Sandwich,1,4.0,4.0,Digital Wallet,Takeaway,2023-06-10
17,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
18,TXN_8876618,Cake,5,3.0,15.0,Cash,Takeaway,2023-03-25
19,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15
20,TXN_3522028,Smoothie,0,4.0,20.0,Cash,In-store,2023-04-04

In [50]:
cafe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9540 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9540 non-null   object
 1   Item              9540 non-null   object
 2   Quantity          9540 non-null   int64
 3   Price Per Unit    9540 non-null   float64
 4   Total Spent       9540 non-null   float64
 5   Payment Method    9540 non-null   object
 6   Location          9540 non-null   object
 7   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 670.8+ KB

### Replacing the zero's in the following columns with the mean of the column; 'Quantity', and 'Price Per Unit'

In [57]:
cafe[(cafe['Quantity'] > 0) & (cafe['Price Per Unit'] > 0)].describe()

          Quantity  Price Per Unit        Sales               Transaction Date
count  8596.000000     8596.000000  8596.000000                           8596
mean      3.020358        2.951547     8.921650  2023-07-01 20:24:04.020474880
min       1.000000        1.000000     1.000000            2023-01-01 00:00:00
25%       2.000000        2.000000     4.000000            2023-04-01 00:00:00
50%       3.000000        3.000000     8.000000            2023-07-02 00:00:00
75%       4.000000        4.000000    12.000000            2023-10-01 00:00:00
max       5.000000        5.000000    25.000000            2023-12-31 00:00:00
std       1.417477        1.276884     5.988538                            NaN

In [59]:
# Replacing the zero's with the mean

cafe[['Quantity','Price Per Unit']] = cafe[['Quantity','Price Per Unit']].replace(0,3)
cafe.head(20)

,Transaction ID,Item,Quantity,Price Per Unit,Sales,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,Digital Wallet,Takeaway,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,Takeaway,2023-03-31
6,TXN_4433211,Juice,3,3.0,9.0,Digital Wallet,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,Takeaway,2023-10-28
8,TXN_4717867,Juice,5,3.0,15.0,Digital Wallet,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,Digital Wallet,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
12,TXN_9437049,Cookie,5,1.0,5.0,Digital Wallet,Takeaway,2023-06-01
13,TXN_8915701,Juice,2,1.5,3.0,Digital Wallet,In-store,2023-03-21
14,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
15,TXN_3765707,Sandwich,1,4.0,4.0,Digital Wallet,Takeaway,2023-06-10
16,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
17,TXN_8876618,Cake,5,3.0,15.0,Cash,Takeaway,2023-03-25
18,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15
19,TXN_3522028,Smoothie,3,4.0,0.0,Cash,In-store,2023-04-04

## Renaming the Total Spent column to Sales and Recalculating the column

In [52]:
cafe = cafe.rename(columns = {'Total Spent': 'Sales'})
cafe.head()

,Transaction ID,Item,Quantity,Price Per Unit,Sales,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,0.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,Digital Wallet,Takeaway,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [60]:
#Recalculating the Sales
cafe['Sales'] = cafe['Quantity'] * cafe['Price Per Unit']

cafe.head(10)

,Transaction ID,Item,Quantity,Price Per Unit,Sales,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,Digital Wallet,Takeaway,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,Takeaway,2023-03-31
6,TXN_4433211,Juice,3,3.0,9.0,Digital Wallet,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,Takeaway,2023-10-28
8,TXN_4717867,Juice,5,3.0,15.0,Digital Wallet,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,Digital Wallet,In-store,2023-12-31

In [61]:
#Renaming the index
cafe = cafe.reset_index(drop = True)

cafe.head(30)

,Transaction ID,Item,Quantity,Price Per Unit,Sales,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,4.0,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,Digital Wallet,Takeaway,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,Takeaway,2023-03-31
6,TXN_4433211,Juice,3,3.0,9.0,Digital Wallet,Takeaway,2023-10-06
7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,Takeaway,2023-10-28
8,TXN_4717867,Juice,5,3.0,15.0,Digital Wallet,Takeaway,2023-07-28
9,TXN_2064365,Sandwich,5,4.0,20.0,Digital Wallet,In-store,2023-12-31
10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
12,TXN_9437049,Cookie,5,1.0,5.0,Digital Wallet,Takeaway,2023-06-01
13,TXN_8915701,Juice,2,1.5,3.0,Digital Wallet,In-store,2023-03-21
14,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
15,TXN_3765707,Sandwich,1,4.0,4.0,Digital Wallet,Takeaway,2023-06-10
16,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
17,TXN_8876618,Cake,5,3.0,15.0,Cash,Takeaway,2023-03-25
18,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15
19,TXN_3522028,Smoothie,3,4.0,12.0,Cash,In-store,2023-04-04
20,TXN_3567645,Smoothie,4,4.0,16.0,Credit Card,Takeaway,2023-03-30
21,TXN_5132361,Sandwich,3,4.0,12.0,Digital Wallet,Takeaway,2023-12-01
22,TXN_2616390,Sandwich,2,4.0,8.0,Digital Wallet,Takeaway,2023-09-18
23,TXN_9400181,Sandwich,5,4.0,20.0,Cash,In-store,2023-06-03
24,TXN_7958992,Smoothie,3,4.0,12.0,Digital Wallet,Takeaway,2023-12-13
25,TXN_5183041,Cookie,5,1.0,5.0,Credit Card,In-store,2023-04-20
26,TXN_5695074,Juice,4,3.0,12.0,Credit Card,Takeaway,2023-04-10
27,TXN_8467949,Smoothie,5,4.0,20.0,Credit Card,Takeaway,2023-03-11
28,TXN_1736287,Juice,5,2.0,10.0,Digital Wallet,Takeaway,2023-06-02
29,TXN_8927252,Juice,2,1.0,2.0,Credit Card,Takeaway,2023-11-06

## Save the cleaned data into csv file.

In [62]:
cafe.to_csv('cafe_Cleaned_data.csv')

In [63]:
cafe_data = pd.read_csv('cafe_Cleaned_data.csv')

cafe_data.head(30)

,Unnamed: 0,Transaction ID,Item,Quantity,Price Per Unit,Sales,Payment Method,Location,Transaction Date
0,0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,2,TXN_4271903,Cookie,4,1.0,4.0,Credit Card,In-store,2023-07-19
3,3,TXN_7034554,Salad,2,5.0,10.0,Digital Wallet,Takeaway,2023-04-27
4,4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,Takeaway,2023-03-31
6,6,TXN_4433211,Juice,3,3.0,9.0,Digital Wallet,Takeaway,2023-10-06
7,7,TXN_6699534,Sandwich,4,4.0,16.0,Cash,Takeaway,2023-10-28
8,8,TXN_4717867,Juice,5,3.0,15.0,Digital Wallet,Takeaway,2023-07-28
9,9,TXN_2064365,Sandwich,5,4.0,20.0,Digital Wallet,In-store,2023-12-31
10,10,TXN_2548360,Salad,5,5.0,25.0,Cash,Takeaway,2023-11-07
11,11,TXN_7619095,Sandwich,2,4.0,8.0,Cash,In-store,2023-05-03
12,12,TXN_9437049,Cookie,5,1.0,5.0,Digital Wallet,Takeaway,2023-06-01
13,13,TXN_8915701,Juice,2,1.5,3.0,Digital Wallet,In-store,2023-03-21
14,14,TXN_2847255,Salad,3,5.0,15.0,Credit Card,In-store,2023-11-15
15,15,TXN_3765707,Sandwich,1,4.0,4.0,Digital Wallet,Takeaway,2023-06-10
16,16,TXN_6769710,Juice,2,3.0,6.0,Cash,In-store,2023-02-24
17,17,TXN_8876618,Cake,5,3.0,15.0,Cash,Takeaway,2023-03-25
18,18,TXN_3709394,Juice,4,3.0,12.0,Cash,Takeaway,2023-01-15
19,19,TXN_3522028,Smoothie,3,4.0,12.0,Cash,In-store,2023-04-04
20,20,TXN_3567645,Smoothie,4,4.0,16.0,Credit Card,Takeaway,2023-03-30
21,21,TXN_5132361,Sandwich,3,4.0,12.0,Digital Wallet,Takeaway,2023-12-01
22,22,TXN_2616390,Sandwich,2,4.0,8.0,Digital Wallet,Takeaway,2023-09-18
23,23,TXN_9400181,Sandwich,5,4.0,20.0,Cash,In-store,2023-06-03
24,24,TXN_7958992,Smoothie,3,4.0,12.0,Digital Wallet,Takeaway,2023-12-13
25,25,TXN_5183041,Cookie,5,1.0,5.0,Credit Card,In-store,2023-04-20
26,26,TXN_5695074,Juice,4,3.0,12.0,Credit Card,Takeaway,2023-04-10
27,27,TXN_8467949,Smoothie,5,4.0,20.0,Credit Card,Takeaway,2023-03-11
28,28,TXN_1736287,Juice,5,2.0,10.0,Digital Wallet,Takeaway,2023-06-02
29,29,TXN_8927252,Juice,2,1.0,2.0,Credit Card,Takeaway,2023-11-06